/* Generated: semantic (dark) */
.dark {
  --surface-success: var(--color-green-500);
  --surface-primary: var(--color-neutral-900);
  --surface-secondary: var(--color-neutral-800);
  --surface-warning: var(--color-yellow-500);
  --surface-error: var(--color-red-500);
  --primary: var(--color-blue-900);
  --text-primary: var(--color-neutral-100);
  --text-secondary: var(--color-neutral-400);
  --text-inverted: var(--color-neutral-900);
  --overlay-disabled: var(--color-black-30);
  --overlay-hover: var(--color-white-20);
  --overlay-press: var(--color-white-30);
  --secondary: var(--color-blue-500);
}
