@reference "../../../../globals.css";

.row {
  @apply w-full min-h-24 grid grid-cols-[3fr_3fr_3fr_2fr_1fr_1fr];
}

.table {
  @apply w-full min-h-24 flex-1 flex flex-col bg-neutral-card rounded-[20px] shadow-box;
}
